{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% block content %}
<section>
    <div style="display:flex;justify-content:center;margin-top:10px;" >
             <h3 style="color:#000000 " > <span><img src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/000000/external-product-logistics-victoruler-linear-colour-victoruler-1.png"/></span> Ours Products</h3>
        </div>
        <hr style=" border:none;height:1px;color: #333;background-color:#333; ">
		<hr style=" border:none;height:1px;color: #333;background-color:#333; ">





<!--to show products in a table-->
<!--<div class="container mt-5 col-7 border border-dark">-->
<!--    <div class="row  align-items-center">-->
<!--        <div class="col">-->
<!--              <table class="table">-->
<!--<tr>-->
<!--     <thead>-->
<!--     <th style="color:black;">-->
<!--        product image-->
<!--     </th>-->
<!--     <th>-->
<!--         Product name-->
<!--     </th>-->
<!--     <th>-->
<!--         Stock-->
<!--     </th>-->
<!--     <th>Days left</th>-->
<!--    </thead>-->
<!--</tr>-->
<!--{% for Products in Products %}-->
<!--    <tr>-->
<!--        <td><img style="height:100px" src="{{Products.Product_Image.url}}"></td>-->
<!--        <td><strong ><p class="mt-5">{{Products.Product_name}}</p></strong></td>-->
<!--        <tD> <strong> <p class="mt-5">{{Products.Stock}}</p></strong> </tD>-->
<!--        <td><p class="mt-5" >{{Products.day_left}}</p> </td>-->
<!--    </tr>-->
<!--{%endfor%}-->

<!--</table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--to show products in a table-->






    <div style="margin-top:100px;" class="container-fluid ">
	<div class="row">



		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for Products in Products %}
				<div class="card  mx-auto hov mb-3" id={{Products.id}} style="width: 18rem;box-shadow: 0px 4px 5px rgba(0, 0, 0, 1);">
					<img style="height:250px" class="card-img-top" src="{{Products.Product_Image.url}}" alt="Card image cap">
					<div class="card-body">
							<strong><p style="color:black;" class="card-title text-center mt-5">{{Products.Product_name}}</p></strong>
							<strong><p style="color:black;" class="card-title text-center ">${{Products.Product_price}}</p></strong>
						{% if remaining_date >= 1   %}
						    <strong><p style="background-color:red;" class="card-title mt-3 badge  badge-lg" >Expired .</p></strong>
						{% elif remaining_date == 0 %}
						<strong><p style="background-color:red;margin:auto;"  class="badge  badge-lg"> Expired  Today  </p></strong>
						{% else %}
						<strong> <p  style="background-color:red;margin:auto;" class="badge  badge-lg">Expires in {{remaining_date}} days </p></strong>
						{% endif %}
					</div>

					<div class="card-footer p-0 no-gutters"></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</section>


{% endblock %}
</body>
</html>